{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

<ul>
{% for table_name, table_count in table_counters.items %}
    <li>{{ table_name }} = {{ table_count }}</li>
{% endfor %}
</ul>

<div id="ajax-response">ajax-response</div>

<h2>Ranked Words</h2>
<div>
  <select id="select-bw1">
{% for wlist_name in ranked_names %}
    <option value="{{ wlist_name }}">{{ wlist_name }}</option>
{% endfor %}
  </select>
  <button id="load-bw1">Load Data</button>
  <button id="download-csv-bw1">Download CSV</button>
  <button id="download-json-bw1">Download JSON</button>
  <button id="from-json-bw1">From JSON</button>
</div>
<div id="table-bw1"></div>
<div><b>NOTE: add words to User Words by double click on Ranked Words</b></div>
<div><b>NOTE: delete word from User Words by double click on it</b></div>

<h2>User Words</h2>
<div>
  <select id="select-bw2">
{% for wlist_name in userwords_names %}
    <option value="{{ wlist_name }}">{{ wlist_name }}</option>
{% endfor %}
  </select>
  <button id="load-bw2">Load Data</button>
  <button id="download-csv-bw2">Download CSV</button>
  <button id="download-json-bw2">Download JSON</button>
  <button id="from-json-bw2">From JSON</button>
</div>
<div id="table-bw2"></div>

</div>

<script>

var tb1rank, tb2user;

function reload_tables(eventStr) {
    tb1rank.setData(); // setTimeout(() => tb1rank.setData(), 100);
    tb2user.setData(); // setTimeout(() => tb2user.setData(), 500);
}

$(document).ready(function() {
    tb1rank = init_ranked_table("table-bw1", "select-bw1");
    init_table_buttons(tb1rank, "select-bw1", "load-bw1", "download-csv-bw1", "download-json-bw1", "from-json-bw1");
    tb1rank.setData();

    tb2user = init_userwords_table("table-bw2", "select-bw2");
    init_table_buttons(tb2user, "select-bw2", "load-bw2", "download-csv-bw2", "download-json-bw2", "from-json-bw2");
});

</script>

{% endblock %}
